
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    width: 100%;
    transition: all 1s ease;
    overflow-x: hidden;
}


#vid{
    position: relative;
    left: 0;
    top: 0;
  height: 100vh;
   width: 100%;
    overflow: hidden;
}

#vid{
    min-width: 100%;
    min-height: 100%;
}




.header{
    background: linear-gradient(270deg, rgb(72, 54, 255), rgb(252, 76, 93)) 0% 0% / 200% 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    opacity: 0.8;
    padding: 10px 10px;
    overflow-x: hidden;
}



.header-top{
    height: 10%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 200;
    
    
}


.logo  {
    margin: 10px 0px;
}
.logo{

    color: white;
    font-weight: 400;
    text-shadow: 5px  2px  rgb(165, 15, 120) ;
}

.justify {
    color: white;
    font-size: 38px;
    /* border: 2px solid #ff002d; */
    border-radius: 50%;
    background: #8c084b;
    padding: 10px;
    margin-top: 10px;
  
}

.arrowDown{
 
    color: rgb(214, 206, 206);
    font-size: 35px;
    text-align: center;
    width: 100%;
}

.section2{
    height: 100vh;
}
.fa-arrow-down{
   animation: arrowDown 2s alternate infinite;
}

@keyframes arrowDown {
    0%{
        transform: translateY(-10px);
        color: rgb(255, 92, 214);


    }
    50%{
        transform: translateY(-10px);
        color: rgb(51, 96, 245);

    }
    100%{
        transform: translateY(10px);
        color: transparent;

    }
}
.closeIcon{
    color:rgb(255, 255, 255) ;
    font-size: 20px;
    margin-top: 20px ;
    margin-right: 20px ;
   display: none;
   border-radius: 50%;
   background-color: #8c084b;
   padding: 20px;
}



.gadgetsContainer{
    position: static;
    width: 100%;
    height: 80%;
}


.gadgets{
    color: white;
   font-size: 500px;
   transition: all 1s linear;
   position: absolute;
   top: 100px;
   animation: custom 20s ease infinite alternate;
}

@keyframes custom {
    0%{
        left: 0;
        transform: perspective(800px) rotateY(0deg) ;

    }
    25%{
        left: 100px;
        transform: perspective(800px) rotateY(20deg) ;
    }
    50%{
        left: 200px;
        transform: perspective(800px) rotateY(40deg) ;

    }
    75%{
        left: 400px;
        transform: perspective(800px) rotateY(20deg) ;

    }
    100%{
        left: 800px;
        transform: perspective(800px) rotateY(0deg) ;

    }
}

.mobile-text{
    color: white;
    position: absolute;
    top: 195px;
   width: 100%;
   top: 20%;
    text-align: center;
}

.laptop-text{
    color: white;
    position: absolute;
    top: 195px;
   left: 26%;
}
.tablet-text{
    color: white;
    position: absolute;
    top: 195px;
   left: 13%;
}

.shadow-bottom{
    


    width: 100%;
    height: 10px;
    border: 3px solid black;
    background: black;
    opacity: 0.2;
    /* background: #888686; */
    padding: 20px;
    border-radius: 90%;
    transform: rotateX(52deg);
    position: relative;
    top: 107%;


}


#slider{
    position: fixed;
    height: 100%;
    /* opacity: 0; */
    display: none;
    z-index: 900;
    top: 0;
    right: 0;
    width: 0;
    transition:all 2s linear !important ;
    background-color: rgb(68, 66, 66);
}

li a{
    cursor: pointer;
    font-size: 40px;
    font-weight: 900;
    color: rgb(250, 251, 252);
    transition: all 0.2s ease-in;

}

li a:hover{

    text-decoration: line-through;
    color: rgb(55, 126, 184);
    font-size: 42px;
}


.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;

}

.mobile{
    height: 400px;
    width: 200px;
    color: black;
    border-radius: 20px;
    border: solid 4px rgb(255, 255, 255);
    border-top-width: 30px;
    transition: all 0.5s linear;
    border-bottom-width: 30px;
    position: relative;
}

.mobile:after {
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: -7%;
    left: 47%;
    border-radius: 50%;
    background: linear-gradient(270deg, rgb(72, 54, 255), rgb(252, 76, 93)) 0% 0% / 200% 100% ;
}






#scroll-item{
    opacity: 1;
 background-color: rebeccapurple;
    transition: all 1s ease;
}

.Para1{
    color:rgb(146, 140, 140) ;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin: 20px 0px;
    padding: 35px 0px;
}


/* //Carousel
 */

 .carousel-nav-icon {
    height: 48px;
    width: 48px;
 }

    .col, .col-sm, .col-md {
       margin: 8px;
       height: 300px;
       background-size: cover;
       background-position: center center;
    }
 
 /* nothing below this point is needed*/
 
 .fa-arrow-circle-o-right ,  .fa-arrow-circle-o-left{

    color: rgb(54, 184, 235);
    font-size: 50px;
 }

 
 

 .card{
     margin-right: auto;
     margin-left: auto;
    max-height: 330px;
    min-height: 330px;


 }

 .card1{
    background: linear-gradient(to right bottom, rgb(47, 56, 99), rgb(72, 95, 202));;
}

 .card2{
   background:    linear-gradient(to right bottom, rgb(28, 100, 64), rgb(50, 169, 107));;
}
.card3{
    background: linear-gradient(to right bottom, rgb(60, 60, 59), rgb(104, 104, 101));
}

 .card:hover  img{
     transform: scale(1.1);
  
 }


 .card > img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 0.5s ease-in;

 }

 .overlay{
    background: linear-gradient(to right bottom, rgb(60, 60, 59), rgb(104, 104, 101));
    color: rgb(219, 218, 218);
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    height: 100%;
    transition: all 1s linear;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .card:hover  .overlay{
  opacity: 0.51;
 }     


 .heading-projects{
     opacity: 0.5;
 }